div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}
.pomidor_reg_form{
    display: flex;
    flex-direction: column;
}

.pomidor_reg_form .form__item:nth-child(1){
    order: 2;
}
.pomidor_reg_form .form__item:nth-child(2){
    order: 3;
}
.pomidor_reg_form .form__item:nth-child(3){
    order: 4;
}
.pomidor_reg_form .form__item:nth-child(4){
    order: 5;
}
.pomidor_reg_form .form__item:nth-child(5){
    order: 6;
}
.pomidor_reg_form .form__item:nth-child(6){
    order: 1;
}
.pomidor_reg_form .form__item:nth-child(7){
    order: 7;
}
.pomidor_reg_form .form__item:nth-child(8){
    order: 8;
}
.pomidor_reg_form .form__item:last-child{
    order: 9;
}
