/**/
.popup{
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
}
.middle-popup{
    padding: 60px 30px;
    max-width: 758px;
}
.tnx-popup{
    text-align: center;
    background: #fff;
}
.tnx-popup__title{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 12px;
}
.tnx-popup__btn{
    display: inline-block;
    padding: 17px 8px;
    font-size: 16px;
    font-weight: 500;
    min-width: 105px;
    text-transform: uppercase;
    border-radius: 4px;
}
.tnx-popup__desc{
    font-size: 21px;
    margin-bottom: 40px;
}
.tnx-popup__img{
    margin-bottom: 20px;
}
@media(max-width:990px){
    .middle-popup {
        padding: 34px 15px;
        max-width: 758px;
    }
    .tnx-popup__desc {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .tnx-popup__title{
        font-size: 24px;
    }
}