/**/
.preload:after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(236,236,236,.6);
    top: 0;
    left: 0;
    z-index: 10;
}

.preload-pic{
    display: none!important;
}
.preload-pic{
    content: '';
    width: 64px;
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 12;
    margin: auto;
}
.preload .preload-pic{
    display: block!important;
    
}