<template>
  <div class="wrap page _page_t-offset">
    <div class="page-header page-header_b-offset">
      <h1 class="page__title">Оформление заказа</h1>
      <div class="buy-step">
        <a href="#" class="buy-step__item">1. Корзина</a>
        <span class="buy-step__item active">2. Оформление заказа</span>
        <a href="#" class="buy-step__item">3. Заказ принят</a>
      </div>
    </div>
    <div class="lk-grid" v-if="basket_items_count > 0">
      <div class="lk-grid__content lk-grid__content_reverce">
        <div class="box">
          <div class="row">
            <order-reciever></order-reciever>
            <promocode-block></promocode-block>
          </div>
        </div>
        <delivery-block></delivery-block>

        <div class="box">
          <div class="row">
            <pay-block></pay-block>
            <comment-block></comment-block>
          </div>
        </div>

        <div class="box box_b-small">
          <div class="row row_s">
            <delivery-time></delivery-time>
          </div>
        </div>
        <div class="row">
          <div class="col"  :class="{invalid_field: errors.agree}">
            <label class="checkbox checkbox_yellow">
              <input type="checkbox" class="checkbox__input" v-model="agree" />
              <span class="checkbox__label">
                Я подтверждаю свое согласие на «Политику в отношении обработки
                персональных данных»
              </span>
            </label>
          </div>
        </div>
      </div>
      <basket-data></basket-data>
    </div>
    <div v-else>
      Ваша корзина пуста. Чтобы набрать вкусняшек нажмите
      <a href="/menu-devilery/" class="header__link">сюда</a> :)
    </div>

    <vue-modal-2
      name="order_success"
      @on-close="close_modal()"
      :noFooter="true"
      :noHeader="true"
    >
      <p class="mb-3">Заказ №{{ order_id }} оформлен</p>
      <p class="mb-3">
        Для подтверждения заказа Вам перезвонит сотрудник или придет
        смс-сообщение.
      </p>
      <div class="box-nav box-nav_center">
        <button
          style="margin-left: 25%"
          class="box-nav__item btn btn_mw btn_default btn_green"
          @click="close_modal()"
        >
          ОК
        </button>
      </div>
      <div v-html="pay_html"></div>
    </vue-modal-2>
  </div>
</template>

<script>
import basket_data from "./basket_data";
import pay_block from "./pay_block";
import comment_block from "./comment_block";
import deliv_time from "./deliv_time";
import delivery_block from "./delivery_block";
import order_reciever from "./order_reciever";
import promocode_block from "./promocode_block";

import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {};
  },
  components: {
    "basket-data": basket_data,
    "pay-block": pay_block,
    "comment-block": comment_block,
    "delivery-time": deliv_time,
    "delivery-block": delivery_block,
    "order-reciever": order_reciever,
    "promocode-block": promocode_block,
  },
  methods: {
    close_modal() {
      this.$vm2.close("order_success");
      this.$store.dispatch("load_order_data");
    },
    ...mapActions(["load_order_data"]),
  },
  computed: {
    order_id() {
      return this.$store.state.order_result.number;
    },
    basket_items_count() {
      return Object.keys(this.$store.state.basket_data.ITEMS).length;
    },
    pay_html() {
      return this.$store.state.order_result.pay_html;
    },
    agree: {
      get() {
        return this.$store.state.agree;
      },
      set(value) {
        this.$store.commit("update_agree", value);
      },
    },
    ...mapGetters([
      'errors'
    ])
  },
  mounted() {
    this.load_order_data();
  },
};
</script>