<template>
  <aside class="aside lk-grid__aside">
    <div
      class="window window_shadow window_bordered aside__window aside-sale aside__item"
    >
      <div class="window__header window__header_sb">
        <h4 class="h4 window__title">Состав заказа</h4>
      </div>
      <hr class="w-total__hr" />
      <span class="notif-title persons">
        Количество персон
        <div class="counter">
          <button class="counter__btn counter__btn_minus"></button>
          <input type="text" class="counter__input" value="1" />
          <button class="counter__btn counter__btn_plus"></button>
        </div>
      </span>
      <hr class="w-total__hr" />
      <div class="comporison-list" v-if="has_basket_items">
        <div
          class="comporison"
          v-for="item in basket_data_items"
          :key="item.id"
        >
          <div class="product-lite">
            <a href="#" class="product-lite__img">
              <img :src="item.PICTURE" alt="" />
            </a>
            <div class="product-lite__content">
              <a href="#" class="product-lite__title">{{ item.NAME }}</a>
              <span class="product-lite__weight s-large">
                {{ item.DESC }}
              </span>
            </div>
          </div>
          <div class="order-edited comporison__order-edited">
            <span
              class="order-edited__item order-edited__item_offset"
              v-if="item.ADD_ING"
            >
              <i class="order-edited__ico order-edited__ico_plus"></i>
              <span class="order-edited__title"> {{ item.ADD_ING }} </span>
            </span>
            <span
              class="order-edited__item order-edited__item_offset"
              v-if="item.REMOVE_ING"
            >
              <i class="order-edited__ico order-edited__ico_plus"></i>
              <span class="order-edited__title"> {{ item.REMOVE_ING }} </span>
            </span>
          </div>
          <span class="price comporison__price price_large medium green">
            {{ item.SUM_FULL_PRICE }} Р
          </span>
        </div>
      </div>
      <span v-else> Ваша корзина пуста. </span>
      <span class="notif-title">
        Для бесплатной доставки добавьте блюда еще на&nbsp;<b>100 Р</b>
      </span>
      <div class="w-total__content">
        <div
          class="window-sum window__section window__section_offset window-sum_bordered"
        >
          <div class="key-val w-total__line">
            <span class="key w-total__key"> Товары </span>
            <span class="val w-total__val green">
              {{ basket_data_total.ITEMS_PRICE }}
            </span>
          </div>
          <div class="key-val w-total__line">
            <span class="key w-total__key"> С учетом скидки </span>
            <span class="val w-total__val green">
              {{ basket_data_total.DISCOUNT_PRICE }}
            </span>
          </div>
          <div class="key-val w-total__line">
            <span class="key w-total__key"> Доставка </span>
            <span class="val w-total__val green">
              {{ basket_data_total.DELIVERY_PRICE }}
            </span>
          </div>
          <div class="w-total__balls">
            <div class="key-val w-total__line">
              <span class="key middle w-total__key"> Начислится баллов </span>
              <span class="val w-total__val">
                {{ basket_data_total.BONUSES }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-result w-result_s">
        <span class="w-result__title"> Итог </span>
        <span class="val price_large _w-total__val w-total__val green">
          {{ basket_data_total.TOTAL_PRICE }}
        </span>
      </div>
      <a href="#" class="btn w-result__btn btn_large btn_green " @click.prevent="make_new_order(success_popup_callback)">
        Оформить заказ
      </a>
    </div>
    
  </aside>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["basket_data_items", "basket_data_total"]),
    has_basket_items() {
      return Object.keys(this.basket_data_items).length > 0;
    },
  },
  methods: {
    ...mapActions([ "make_new_order"]),
    success_popup_callback(){
      this.$vm2.open('order_success');
    }
  },
  
};
</script>