<template>
  <div class="col col--lg-7">
    <div
      class="
        window window_bordered window_s-offset window_b-offset
        match-height
      "
    >
      <div class="window__header window__header_sb">
        <h3 class="s-large window__title">Комментарий</h3>
      </div>
      <hr class="w-total__hr" />
      <div class="window__content window__content_offset">
        <div class="window window_b-offset">
          <div class="content-scrollbar">
            <textarea
              class="
                window_s-offset
                input input_default input_yellow
                match-height
              "
              placeholder="Оставьте Ваш комментарий"
              v-model="comment"
            >
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    comment: {
      get() {
        return this.$store.state.user_input.comment;
      },
      set(value) {
        this.$store.commit("update_comment", value);
      },
    },
  },
};
</script>