<template>
  <div class="col col--lg-6 mb-2 mb-xl-0">
    <div class="window window_bordered window_s-offset">
      <div class="window__header window__header_sb">
        <h3 class="s-large window__title">Время доставки</h3>
      </div>
      <hr class="w-total__hr" />
      <div class="window__content window__content_offset">
        <div class="radio-type radio-type_b-offset radio-type_sb">
          <label class="radio radio_orange mb-1 mb-xl-0">
            <input type="radio" class="radio__input" name="time" checked @click="set_delivery_time_type('time_moment')"/>
            <span class="radio__label"> Точное время </span>
          </label>
          <label class="radio radio_orange mb-1 mb-xl-0">
            <input type="radio" class="radio__input" name="time"  @click="set_delivery_time_type('fastest')"/>
            <span class="radio__label"> Как можно скорее </span>
          </label>
        </div>
        <div class="time-w">
          <img
            class="time-w__ico"
            src="/local/templates/pomidor/images/i-clock.png"
            width="24"
            alt=""
          />
          <input
            type="time"
            placeholder="Время"
            class="
              input input_default input_yellow
              time-w__input time-w__input_s
            "
            v-model="delivery_time"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapMutations} from 'vuex';
export default {
  computed: {
    delivery_time: {
      get() {
        return this.$store.state.user_input.delivery.delivery_time;
      },
      set(value) {
        this.$store.commit("update_delivery_time", value);
      },
    },
  },
  methods : {
      ...mapMutations([
          'set_delivery_time_type'
      ])
  }
};
</script>