<template>
  <div class="box">
    <div class="row">
      <div class="col col--lg-12">
        <div class="window window_bordered window_s-offset window_b-offset" :class="{invalid_field: errors.delivery}">
          <div class="window__header window__header_sb">
            <h3 class="s-large window__title">Доставка</h3>
          </div>
          <hr class="w-total__hr" />
          <div class="window__content window__content_offset">
            <div
              class="box box_sb box_b-middle"
              v-if="delivery_type == 'delivery_self'"
            >
              <div class="delivery-type">
                <label class="radio radio_orange delivery-change">
                  <input
                    type="radio"
                    class="radio__input"
                    name="delivery_type"
                    @change = "set_delivery_type('delivery_man')"
                    value="delivery_man"
                  />
                  <span class="radio__label"> Доставка курьером </span>
                </label>
                <label class="radio radio_orange delivery-change">
                  <input
                    type="radio"
                    class="radio__input"
                    name="delivery_type"
                    checked
                    value="delivery_self"
                  />
                  <span class="radio__label"> Самовывоз </span>
                </label>
              </div>
              <a href="#" class="watch-map link orange link_decorated"
                >Смотреть на карте</a
              >
            </div>
            <div class="delivery-type" v-else>
              <label class="radio radio_orange delivery-change">
                <input
                  type="radio"
                  class="radio__input"
                  checked
                  name="delivery_type"
                  value="delivery_man"
                />
                <span class="radio__label"> Доставка курьером </span>
              </label>
              <label class="radio radio_orange delivery-change">
                <input
                  type="radio"
                  class="radio__input"
                  name="delivery_type"
                  @change = "set_delivery_type('delivery_self')"
                  value="delivery_self"
                />
                <span class="radio__label"> Самовывоз </span>
              </label>
            </div>

            <div
              class="delivery-content"
              v-if="delivery_type == 'delivery_man'"
            >
              <div class="tab active">
                <div class="addr-list">
                  <div class="addr-list__item">
                    <div class="addr-list__header">
                      <label
                        class="radio radio_orange"
                        v-for="address in user_saved_address_list"
                        :key="address.id"
                      >
                        <input
                          type="radio"
                          class="radio__input"
                          name="cafe"
                          :value="address.id"
                          v-model="user_address"
                        />
                        <span class="radio__label s-small black">
                          {{ address.name }}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="locate-w">
                  <form
                    action="#"
                    class="form edit-form"
                    style="display: block"
                  >
                    <div class="row">
                      <div class="col col--lg-4">
                        <div class="form__item form__item_s-offset">
                          <input
                            type="text"
                            placeholder="Улица, дом"
                            class="input input_default input_yellow"
                            v-model="delivery_street"
                          />
                        </div>
                      </div>
                      <div class="col col--xs-6 col--lg-2">
                        <div class="form__item form__item_s-offset">
                          <input
                            type="text"
                            placeholder="Подъезд"
                            class="input input_default input_yellow"
                            v-model="delivery_section"
                          />
                        </div>
                      </div>
                      <div class="col col--xs-6 col--lg-2">
                        <div class="form__item form__item_s-offset">
                          <input
                            type="text"
                            placeholder="Домофон"
                            class="input input_default input_yellow"
                            v-model="delivery_flat_call"
                          />
                        </div>
                      </div>
                      <div class="col col--xs-6 col--lg-2">
                        <div class="form__item form__item_s-offset">
                          <input
                            type="text"
                            placeholder="Этаж"
                            class="input input_default input_yellow"
                            v-model="delivery_floor"
                          />
                        </div>
                      </div>
                      <div class="col col--xs-6 col--lg-2">
                        <div class="form__item form__item_s-offset">
                          <input
                            type="text"
                            placeholder="Кв./офис"
                            class="input input_default input_yellow"
                            v-model="delivery_flat"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <a
                  v-if="user_is_auth"
                  href="#"
                  class="btn btn_mw btn_default btn_yellow"
                  @click.prevent="save_user_address()"
                  >Добавить адрес</a
                >
              </div>
            </div>

            <div class="box office-types" v-else>
              <h5 class="h5 medium">Выберите кафе</h5>
              <div class="office-types__list">
                <div class="row">

                  <div class="col col--lg-6 col--xl-4" v-for="cafe in cafe_list" :key="cafe.ID">
                    <label class="radio radio_orange office-types__item">
                      <input type="radio" class="radio__input" name="delivery_cafe" :value="cafe.ID" v-model="delivery_cafe"/>
                      <span class="radio__label s-small">
                        {{ cafe.NAME }}
                      </span>
                    </label>
                  </div>
          
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  methods: {
    ...mapActions(["apply_promocode", "save_user_address"]),
    set_delivery_type(delivery_type){
      this.$store.commit("update_delivery_type", delivery_type);
      this.$store.dispatch("get_pay_systems");
    }
  },
  computed: {
    delivery_cafe: {
      get() {
        return this.$store.state.user_input.delivery.cafe;
      },
      set(value) {
        this.$store.commit("update_delivery_cafe", value);
      },
    },
    user_address : {
      get() {
        return this.$store.state.user_input.delivery.user_address;
      },
      set(value) {
        this.$store.commit("update_user_address", value);
      },
    },
    delivery_type: {
      get() {
        return this.$store.state.user_input.delivery.type;
      }
    },
    delivery_street: {
      get() {
        return this.$store.state.user_input.delivery.address.street;
      },
      set(value) {
        this.$store.commit("update_delivery_street", value);
      },
    },
    delivery_section: {
      get() {
        return this.$store.state.user_input.delivery.address.section;
      },
      set(value) {
        this.$store.commit("update_delivery_section", value);
      },
    },
    delivery_flat_call: {
      get() {
        return this.$store.state.user_input.delivery.address.flat_call;
      },
      set(value) {
        this.$store.commit("update_delivery_flat_call", value);
      },
    },
    delivery_floor: {
      get() {
        return this.$store.state.user_input.delivery.address.floor;
      },
      set(value) {
        this.$store.commit("update_delivery_floor", value);
      },
    },
    delivery_flat: {
      get() {
        return this.$store.state.user_input.delivery.address.flat;
      },
      set(value) {
        this.$store.commit("update_delivery_flat", value);
      },
    },
    ...mapGetters(["cafe_list", "user_saved_address_list", "user_is_auth", "errors"]),
  },
};
</script>