<template>
  <div class="col col--lg-6">
    <div class="window window_bordered window_s-offset window_b-offset" :class="{invalid_field : errors.reciever}">
      <div class="window__header window__header_sb">
        <h3 class="s-large window__title">Кто заберет заказ</h3>
      </div>
      <hr class="w-total__hr" />
      <div class="window__content window__content_offset">
        <form action="#" class="form form_default">
          <div class="form__item form__item_s-offset">
            <input
              type="text"
              placeholder="ФИО "
              class="input input_default input_yellow"
              v-model="reciever_fio"
            />
          </div>
          <div class="form__item form__item_s-offset">
            <input
              type="text"
              placeholder="Номер телефона"
              class="input input_default input_yellow "
              v-model="reciever_phone"
              v-mask="'+7 (###) ###-##-##'"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  computed: {
    reciever_fio: {
      get() {
        return this.$store.state.user_input.reciever.fio;
      },
      set(value) {
        this.$store.commit("update_reciever_fio", value);
      },
    },
    reciever_phone: {
      get() {
        return this.$store.state.user_input.reciever.phone;
      },
      set(value) {
        this.$store.commit("update_reciever_phone", value);
      },
    },
    ...mapGetters([
      'errors'
    ])
  },
};
</script>