<template>
  <div class="col col--lg-5">
    <div
      class="
        window window_bordered window_s-offset window_b-offset
        match-height
      "
      :class="{invalid_field : errors.paying}"
    >
      <div class="window__header window__header_sb">
        <h3 class="s-large window__title">Оплата</h3>
      </div>
      <hr class="w-total__hr" />
      <div class="window__content window__content_offset">
        <div class="box box_b-s radio-box">
          <label
            v-for="pay_system in pay_systems"
            :key="pay_system.id"
            class="radio radio_orange radio-box__item"
          >
            <input
              type="radio"
              class="radio__input"
              name="pay"
              :value="pay_system.id"
              @click="select_pay_system(pay_system.id)"
              :checked="pay_system.default == true"
            />
            <span class="radio__label">
              {{ pay_system.name }}
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters(["pay_systems", "errors"]),
    selected_pay_system: {
      get() {
        return this.$store.state.user_input.paying.method;
      },
      set(value) {
        this.$store.commit("update_selected_pay_system", value);
      },
    },
  },
  methods: {
    select_pay_system(id) {
      this.$store.commit("update_selected_pay_system", id);
    },
  },
};
</script>