<template>
  <div class="col col--lg-6">
    <div class="window window_dashed window_s-offset window_b-offset">
      <img
        class="ticket-ico window__ticket-ico"
        src="/local/templates/pomidor/images/o-ticket.svg"
        alt=""
      />
      <div class="window__header window__header_sb">
        <h3 class="s-large window__title">Введите промокод или сертификат</h3>
      </div>
      <hr class="w-total__hr" />
      <div class="window__content window__content_offset">
        <form action="#" class="form form_default">
          <div class="form__item form__item_s-offset">
            <input
              type="text"
              placeholder="Промокод"
              class="input input_default input_yellow"
              v-model="promocode"
            />
          </div>
          <div class="form__item form__item_s-offset">
            <button
              class="btn btn_full btn_default btn_yellow"
              @click.prevent="apply_promocode(promocode)"
            >
              Использовать
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  computed: {
    promocode: {
      get() {
        return this.$store.state.user_input.promocode;
      },
      set(value) {
        this.$store.commit("update_promocode", value);
      },
    },
  },
  methods: {
    ...mapActions(["apply_promocode"]),
  },
};
</script>