<template>
  <div class="wrap page">
    <div class="page-header page-header_b-offset">
      <h1 class="page__title">Корзина</h1>
      <div class="buy-step">
        <span class="buy-step__item active">1. Корзина</span>
        <a href="#" class="buy-step__item">2. Оформление заказа</a>
        <a href="#" class="buy-step__item">3. Заказ принят</a>
      </div>
    </div>

    <div class="lk-row">
      <basket-items></basket-items>
      <basket-side-block></basket-side-block>
    </div>
    <div class="box box_b-large">
      <h2 class="h2-middle">Рекомендации к вашему заказу</h2>
      <div class="line-w">
        <span class="line-w__title" v-if="get_step_to_free_delivery > 0">
          До бесплатной доставки, добавьте еще блюда на
          <b>{{ get_step_to_free_delivery }} ₽</b>
        </span>
        <span class="line-w__title" v-else>
          Бесплатная доставка!
        </span>
        <a
          href="#"
          class="line-w__pic"
          style="
            background-image: url('/local/templates/pomidor/images/car-bg.png');
          "
        >
          <img
            class="line-w__ico"
            src="/local/templates/pomidor/images/left-arrow.svg"
            alt=""
          />
          <span class="line-w__slogan link link_decorated"> Назад в меню </span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import basket_items from "./basket_items";
import basket_side_block from "./basket_side_block";
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {};
  },
  mounted() {
    this.load_basket_data();
  },
  components: {
    "basket-items": basket_items,
    "basket-side-block": basket_side_block,
  },

  methods: {
    ...mapActions(["load_basket_data"]),
  },
  computed: {
    ...mapGetters(["get_step_to_free_delivery", "get_total_basket_price"]),
  },
};
</script>