<template>
  <div class="lk-content">
    <div class="box box_b-large">
      <div class="order-list order-list_b-offset">
        <div class="order-list__header">
          <h4 class="h4 order-list__title">Заказ</h4>
        </div>
        <div v-if="has_basket_items">
          <div
            class="basket-item basket-item_r-offset"
            v-for="item in basket_data_items"
            :key="item.id"
          >
            <a href="#" class="basket-item__img">
              <img :src="item.PICTURE" alt="" />
            </a>
            <div class="basket-item__content">
              <div class="basket-item__header">
                <a href="#" class="order-item__title"> {{ item.NAME }} </a>
                <div class="basket-item__nav">
                  <span class="weight medium gray s-large basket-item__weight">
                    {{item.DESC}}
                  </span>
                  <div class="counter basket-item__counter">
                    <button
                      class="counter__btn counter__btn_minus"
                      @click.prevent="dec_item_count(item.ID)"
                    ></button>
                    <input
                      type="text"
                      class="counter__input"
                      :value="item.QUANTITY"
                    />
                    <button
                      class="counter__btn counter__btn_plus"
                      @click.prevent="inc_item_count(item.ID)"
                    ></button>
                  </div>
                  <span
                    class="order-item__title order-item__title_green basket-item__price"
                  >
                    {{ item.SUM_FULL_PRICE }} ₽
                  </span>
                  <a
                    href="#"
                    class="basket-item__remove"
                    @click.prevent="remove_item(item.ID)"
                  ></a>
                </div>
              </div>
              <div class="basket-item__info">
                <div class="basket-delivery">
                  <span class="basket-delivery__line">Самовывоз из {{item.CAFE_COUNT}} кафе</span>
                  <span class="basket-delivery__line">Доступна доставка</span>
                </div>
                <div class="order-edited">
                  <span class="order-edited__item order-edited__item_offset" v-if="item.ADD_ING">
                    <i class="order-edited__ico order-edited__ico_plus"></i>
                    <span class="order-edited__title"> {{item.ADD_ING}}</span>
                  </span>
                  <span class="order-edited__item order-edited__item_offset" v-if="item.REMOVE_ING">
                    <i class="order-edited__ico order-edited__ico_minus"></i>
                    <span class="order-edited__title"> {{item.REMOVE_ING}} </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>Ваша корзина пуста. Чтобы набрать вкусняшек нажмите <a href="/menu-devilery/" class="header__link">сюда</a> :)</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["basket_data_items"]),
    has_basket_items(){
      return Object.keys(this.basket_data_items).length > 0
    }
  },
  methods: {
    ...mapActions(["inc_item_count", "dec_item_count", "remove_item"]),
  },
};
</script>