<template>
  <div class="lk-aside">
    <aside class="aside">
      <div class="w-total">
        <h4 class="h4 w-total__title">Стоимость</h4>
        <hr class="w-total__hr" />
        <div class="w-total__content">
          <div class="key-val w-total__line">
            <span class="key w-total__key"> Товары </span>
            <span class="val w-total__val green"> {{basket_data_total.ITEMS_PRICE}} ₽</span>
          </div>
          <div class="key-val w-total__line">
            <span class="key w-total__key"> С учетом скидки </span>
            <span class="val w-total__val green"> {{basket_data_total.DISCOUNT_PRICE}} ₽</span>
          </div>
          <div class="key-val w-total__line">
            <span class="key w-total__key"> Доставка </span>
            <span class="val w-total__val green"> {{basket_data_total.DELIVERY_PRICE}} ₽</span>
          </div>
          <div class="key-val w-total__line">
            <span class="key w-total__key"> Начислится баллов </span>
            <span class="val w-total__val green"> {{basket_data_total.BONUSES}} </span>
          </div>
        </div>

        <div class="w-result w-result_bordered">
          <span class="w-result__title"> Итог </span>
          <span class="val w-total__val w-total__val green"> {{basket_data_total.TOTAL_PRICE}} ₽</span>
        </div>
        <a href="/personal/order/make" class="btn w-result__btn btn_large btn_green" >
          Оформить заказ
        </a>
      </div>
    </aside>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  data(){
    return {}
  },
  computed: {
    ...mapGetters([
      "basket_data_total"
    ])
  },
  methods:{
    
  }
};
</script>