<template>
  <div>
    <div class="box box_b-large">
      <h2 class="h2-middle">Рекомендации к вашему заказу</h2>
      <div class="line-w">
        <span class="line-w__title">
          До бесплатной доставки, добавьте еще блюда на <b>100 Р</b>
        </span>
        <a
          href="#"
          class="line-w__pic"
          style="background-image: url('../images/car-bg.png')"
        >
          <img class="line-w__ico" src="images/left-arrow.svg" alt="" />
          <span class="line-w__slogan link link_decorated"> Назад в меню </span>
        </a>
      </div>
    </div>
    <div class="box box_b-large">
      <div class="full-slider-widget">
        <div class="full-nav">
          <a href="#" class="full-nav__btn full-nav__btn_left">
            <svg class="slider-icon__arrow">
              <use xlink:href="images/icons.svg#arrow-left"></use>
            </svg>
          </a>
          <a href="#" class="full-nav__btn full-nav__btn_right">
            <svg class="slider-icon__arrow">
              <use xlink:href="images/icons.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
        <div class="relative-slider dots-control">
          <div v-for="item in recomendations.ITEMS" :key="item.id">
            <div class="menu__item relative menu-item">
              <a href="#" class="menu-item__top">
                <img class="menu-item__image" :src="item.picture" alt="" />
                <img
                  class="menu-item__image_second"
                  :src="item.over_picture"
                  alt=""
                />
              </a>
              <div class="menu-item__content">
                <h4 class="menu-item__title">{{ item.name }}</h4>
                <span class="menu-item__desc">{{ item.description }}</span>
                <span class="price relative__price green">
                  {{ item.price }} Р
                </span>
              </div>
              <div class="menu-item__bottom">
                <a class="btn btn_add" href="#" :data-id="item.id">В корзину</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {

    };
  },
  mounted() {
    
  },
  methods: { ...mapActions(["load_recomendations"]) },

  computed: { ...mapGetters(["recomendations"]) },
};
</script>