.menu__count-bg{
    pointer-events: none;
}
.datepickers-container{
    z-index: 99999;
}
#popup-cart .mfp-close{
    color: #000;
}
.tabs-nav a{
    color: #7c7c7c;
}
.vm2_modal-dialog .vm2_body{
    padding: 24px;
}
.vm2_modal-dialog .mb-3:first-child{
    font-size: 20px;
    font-weight: 500;
}
#basket_page .full-nav__btn{
    opacity: 0;
}
#basket_page .full-nav__btn.active{
    opacity: 1;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.relative-slider{
    display: none;
}
.relative-slider.slick-initialized {
    animation: show .3s ease;
    display: block;
    
}
.vm2_modal-dialog .btn_green{
   margin-left: auto!important;
    margin-right: auto!important;
}
.tablebodytext{
    margin-top: 15px;
    margin-bottom: 15px;
}
.tabs-nav a.active{
   font-weight: 500;
    color: #000;
   border-bottom: 2px solid #f7af36; 
}
.loyalty__faq{
    display: none;
}
.loyalty__faq.active{
    display: block;
}
.delivery-notif{
    pointer-events: none;
}
#card-popup{
    margin-bottom: 30px;
}
.card__delivery .card__delivery-info{
    padding-bottom: 20px;
}
.card__delivery:hover .delivery-notif{
    pointer-events: all;
}
.form.error .btn[type="submit"]{
    background: #7c7c7c;
    opacity: .7;
    pointer-events: none;
}
.line-w__header{
    max-width: 60%;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2.3rem;
}
.loader {
    position: absolute;
    z-index: 15;
    top: -100%;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000;
    -webkit-transition: opacity .7s ease;
    -o-transition: opacity .7s ease;
    transition: opacity .7s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, .55)
}

.loader:after,
.loader:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.loader.is-active {
    top: 0;
    opacity: 1
}

.loader-default:after {
    position: absolute;
    top: -webkit-calc(50% - 24px);
    top: calc(50% - 24px);
    left: -webkit-calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    content: '';
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: solid 8px #fff;
    border-left-color: transparent;
    border-radius: 50%
}
/*попап успешной отправки формы*/
.popup{
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
}
.middle-popup{
    padding: 60px 30px;
    max-width: 758px;
}
.tnx-popup{
    text-align: center;
    background: #fff;
}
.tnx-popup__title{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 12px;
}
.tnx-popup__btn{
    display: inline-block;
    padding: 17px 8px;
    font-size: 16px;
    font-weight: 500;
    min-width: 105px;
    text-transform: uppercase;
    border-radius: 4px;
}
.tnx-popup__desc{
    font-size: 21px;
    margin-bottom: 40px;
}
.tnx-popup__img{
    margin-bottom: 20px;
}
@media(max-width:990px){
    .middle-popup {
        padding: 34px 15px;
        max-width: 758px;
    }
    .tnx-popup__desc {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .tnx-popup__title{
        font-size: 24px;
    }
}

/*прелоадер*/
.preload:after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(236,236,236,.6);
    top: 0;
    left: 0;
    z-index: 10;
}

.preload-pic{
    display: none!important;
}
.preload-pic{
    content: '';
    width: 64px;
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 12;
    margin: auto;
}
.preload .preload-pic{
    display: block!important;
    
}

.invalid_field{
    border: 1px solid red;
}
.comporison__count{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cupon_status{
    font-size: 14px;
    margin-top: 10px;
}
.cupon_status.error{
    color:red;
}
.cupon_status.success{
    color:green;
}
.preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 100%;
    background-color: rgb(232, 232, 232, .6);
    background-image: url(/local/templates/pomidor/images/preloader-pic.gif);
    background-position: center;
    background-repeat: no-repeat;
}
.btn_medium.no-active {
    color: #fff;
    background: #d5d3d3;
}

@media (max-width: 760px){
    .add-w__btns_remove .add-w__btn {
        margin-right: 1rem;
    }
    .add-w__btns_remove .add-w__btn:before, .add-w__btns_remove .add-w__btn:after {
        top: 8px;
        right: 3px;
        width: 9px;
        height: 1px;
    }
}



/*
*/

.relative-slider .slick-track {
    display: flex;
}

.relative-slider .slick-slide {
    height: auto;
    display: flex !important;
    flex-wrap: wrap;
}
.relative-slider .slick-slide  > div {
    display: flex;
    flex-wrap: wrap;
}
.relative-slider .slick-slide  > div > div {
    display: flex !important;
    flex-wrap: wrap;
}
.relative.menu__item {
    display: flex;
    flex-wrap: wrap;
}
.relative .menu-item__content {
    width: 100%;
}

.popup-cart .cart-slider .slick-track {
    display: flex;
    align-items: stretch;
}

.popup-cart .cart-slider .slick-slide {
    height: auto;
    display: flex !important;
    flex-wrap: wrap;
}
.popup-cart .cart-slider .slick-slide  > div {
    display: flex;
    flex-wrap: wrap;
}
.popup-cart .cart-slider .slick-slide  > div > div {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
}
.popup-cart .cart-slider .slick-slide .product-lite__title + span {
    display: block;
    width: 100%;
    margin-top: auto;
}

.popup-cart .cart-slider .slick-slide .btn_default {
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.popup-cart .cart-slider .slick-slide  img {
    object-fit: cover;
}